@model Ripper.Models.Cuts
@{
    ViewBag.Title = "Calculator";
}
<style>
    select {
        width: 174px;
    }
    .multi {
        width: 24px;
    }
    .bg-info {
        padding: 15px;
    }
</style>


@using (Html.BeginForm("Cuts", "Home"))
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Cuts</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="bg-info">All measurements are in <abbr title="millimeters">mm</abbr> unless otherwise specified.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Available Stock:</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.DropDownListFor(x => x.StdBoards, Model.StdBoards)
                <input id="Board" type="text" hidden="hidden" /> x <input id="bmult" type="text" value="1" class="multi" />
                <input class="btn btn-default" id="AddBoard" type="button" value="Add" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.ListBox("Boards", new List<SelectListItem>())
                <input class="btn btn-default" id="RemBoard" type="button" value="Remove" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Lengths Required:</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <input id="leng" type="text" /> x <input id="lmult" type="text" value="1" class="multi" />
                <input class="btn btn-default" id="AddLeng" type="button" value="Add" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.ListBox("Lengs", new List<SelectListItem>())
                <input class="btn btn-default" id="RemLeng" type="button" value="Remove" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input class="btn btn-default" id="sub" type="submit" value="Calculate" />
            </div>
        </div>
    </div>
}
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#AddBoard').on('click', function () {
                console.log($('#Boards'));
                console.log($('#StdBoards').val());
                var multi = $('#bmult').val();
                if (multi > 0) {
                    for (var i = 0; i < multi; i++) {
                        $('#Boards').append("<option value='" + $('#StdBoards').val() + "'>" + $('#StdBoards').val() + "</option>");
                    }
                }
                
                $('#Board').val('');
                $('#bmult').val(1);
                return false;
            });
            $('#AddLeng').on('click', function () {
                console.log($('#Lengs'));
                var multi = $('#lmult').val();
                if (multi > 0) {
                    for (var i = 0; i < multi; i++) {
                        $('#Lengs').append("<option value='" + $('#leng').val() + "'>" + $('#leng').val() + "</option>");
                    }
                }

                $('#leng').val('');
                $('#lmult').val(1);
                return false;
            });
            $('#sub').on('click', function () {
                $('#Boards option').attr('selected', 'selected');
                $('#Lengs option').attr('selected', 'selected');
                console.log($("#Lengs"));
            });

        });
    </script>
}

